<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Heart Disease Prediction | Eunoia 5</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='/images/L I M A - minimal.png') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/L I M A - minimal.png') }} alt="Eunoia 5 Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; Kelompok Eunoia 5</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>ICA</h2>
				<h4>Iris ClAssifier</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					Aplikasi ini dibuat untuk menentukan spesies dari bunga iris berdasarkan pengukuran panjang serta lebar 
					dari <i>sepal</i> dan <i>petal</i> bunga. "Iris Setosa", "Iris Versicolor", dan "Iris Virginica" 
					adalah ketiga species bunga iris yang dapat diprediksi melalui aplikasi ini.
					Pengguna hanya cukup memberikan 4 nilai pengukuran untuk dapat mengetahui spesies dari bunga iris tersebut.
					Keempat nilai pengukuran tersebut adalah panjang <i>petal</i>, lebar <i>petal</i>, panjang <i>sepal</i>,
					dan lebar <i>sepal</i>.
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src={{ url_for('static', filename='/images/app-display.JPG') }} width="500" ></img>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<h3 style="margin-left: 50px;">Nilai Pengukuran </h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">
						<!-- Input Slider untuk Nilai Pengukuran Bunga Iris -->

						<label for="range_Age">Age [Years]</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Age">21<!-- Default value --></span>
						<input type="range" min="10" max="120" step="1" value="21" class="slider" id="range_Age" 
						onInput="$('#rangeVal_Age').html($(this).val())">
						</br>

						<label for="select_Sex">Sex</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_Sex">
  							<option value="0">Male</option>
  							<option value="1">Female</option>
						</select></br>

						<label for="select_ChestPainType">Chest Pain Type</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_ChestPainType">
  							<option value="3">Typical Angina</option>
  							<option value="2">Atypical Angina</option>
  							<option value="1">Non-Anginal Pain</option>
  							<option value="0">Asymptomatic</option>
						</select></br>

						<label for="range_RestingBP">Resting Blood Pressure [mm Hg]</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_RestingBP">100<!-- Default value --></span>
						<input type="range" min="80" max="200" step="1" value="100" class="slider" id="range_RestingBP" 
						onInput="$('#rangeVal_RestingBP').html($(this).val())">
						</br>

						<label for="range_Cholesterol">Serum Cholesterol [mm/dl]</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Cholesterol">180.9<!-- Default value --></span>
						<input type="range" min="0" max="603" step="0.1" value="180.9" class="slider" id="range_Cholesterol" 
						onInput="$('#rangeVal_Cholesterol').html($(this).val())">
						</br>

						<label for="select_FastingBS">Fasting Blood Sugar</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_FastingBS">
  							<option value="1">FastingBS > 120 mg/dl</option>
  							<option value="0">Otherwise</option>
						</select></br>

						<label for="select_RestingECG">Resting Electrocardiogram</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_RestingECG">
  							<option value="0">Normal</option>
  							<option value="2">ST-T wave abnormality</option>
  							<option value="1">Left Ventricular Hypertrophy</option>
						</select></br>

						<label for="range_MaxHR">Maximum Heart Rate Achieved</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_MaxHR">116.8<!-- Default value --></span>
						<input type="range" min="60" max="202" step="0.1" value="116.8" class="slider" id="range_MaxHR" 
						onInput="$('#rangeVal_MaxHR').html($(this).val())">
						</br>

						<label for="select_ExerciseAngina">Exercise-Induced Angina</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_ExerciseAngina">
  							<option value="1">Yes</option>
  							<option value="0">No</option>
						</select></br>

						<label for="range_Oldpeak">Oldpeak</label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_Oldpeak">0.92<!-- Default value --></span>
						<input type="range" min="-2.6" max="6.2" step="0.01" value="0.92" class="slider" id="range_Oldpeak" 
						onInput="$('#rangeVal_Oldpeak').html($(this).val())">
						</br>

						<label for="select_ST_Slope">Slope Of The Peak Exercise ST Segment</label>&nbsp;&rarr;&nbsp;
						<select class="form-select" id="select_ST_Slope">
  							<option value="0">Flat</option>
  							<option value="1">Upsloping</option>
  							<option value="2">Downsloping</option>
						</select><br>

						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK</h2>
		<h4>Tim Deployment dan Tim DS</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>BUDI</h4>
				<p>Universitas Sumatera</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>AYU</h4>
				<p>Universitas Jawa dan Bali</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>TONO</h4>
				<p>Universitas Kalimantan</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>PUTRA</h4>
				<p>Universitas Sulawesi</p>
			</div>
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>PUTRI</h4>
				<p>Universitas Kepulauan Nusa, Maluku dan Papua</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Kelompok Eunoia 5<br> <a href="https://www.riobastian.my.id/">eunoia5</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
